<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.kh.toy.mgmtfee.model.repository.MgmtfeeRepository">

	<select id="selectMgmtfeeList" resultType="mgmtfee">
	select m.*, g.id as generation_info 
	from tb_mgmtfee m JOIN tb_generation g on (m.generation_idx = g.generation_idx) 
	where m.apartment_idx = #{apartmentIdx}
	</select>
	
</mapper>
