<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.kh.toy.bdmin.model.repository.BdminRepository">
	
	<select id="selectApartCnt" resultType="int">
		select count(*) from tb_apartment
	</select>
	
	<select id="selectApartrList" resultType="apartment">
		select * from (
			select rownum rnum, b.* from (
				select * from tb_apartment 
				order by apartment_IDX desc ) b 
			) where rnum between #{queryStart} and #{queryEnd}
	</select>

	</mapper>