<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
<!-- 1. 카멜케이스 셋팅-->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

<!-- 2. 경로 별칭 지정-->
	<typeAliases>
		<typeAlias type="com.kh.toy.member.model.vo.Member" alias="MEMBER"/>
		<typeAlias type="com.kh.toy.mgmtfee.model.vo.Mgmtfee" alias="mgmtfee"/>
		<typeAlias type="com.kh.toy.car.model.vo.Car" alias="car"/>
		<typeAlias type="com.kh.toy.parking.model.vo.CarApplication" alias="carApplication"/>
		<typeAlias type="com.kh.toy.generation.model.vo.Generation" alias="generation"/>
		<typeAlias type="com.kh.toy.generation.model.vo.GenerationWon" alias="generationWon"/>

	</typeAliases>
<!-- 3. 작성쿼리 root등록을 위한 경로 설정. 맨아래에 있어야 한다.-->
	<mappers>
		<mapper resource="mybatis/mapper/mgmtfee/mgmtfeeMapper.xml"/>
		<mapper resource="mybatis/mapper/mymgmtfee/mymgmtfeeMapper.xml"/>
		<mapper resource="mybatis/mapper/car/carMapper.xml"/>
		<mapper resource="mybatis/mapper/mycar/mycarMapper.xml"/>
		<mapper resource="mybatis/mapper/generation/generationMapper.xml"/>

	</mappers>


</configuration>