<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace="com.kh.aboo.generation.model.repository.GenerationRepository">
    <!-- 선영 세대 목록 가져오기-->
	<select id="selectGenerationWonList" resultType="generationWon">
		select GENERATION_WON_IDX,GENERATION_IDX,TELL,NAME,IS_DEL
		from(
			select rownum rnum, gw.* 
			from(
				select GENERATION_WON_IDX,GENERATION_IDX,TELL,NAME,IS_DEL
				from TB_GENERATION_WON where IS_DEL = 0 and GENERATION_IDX = #{generationIdx}
				order by GENERATION_WON_IDX asc
				) gw
			) where rnum between #{paging.queryStart} and #{paging.queryEnd}
		
	</select>	
    		
    		
    		
    <update id="updateGenerationModify">
     update TB_GENERATION 
     <set>
     <if test="password != null">
     PASSWORD = #{password}
     </if>
     <if test="email != null">
     , EMAIL = #{email}
     </if>
     <if test="tell != null">
     , TELL = #{tell}
     </if>
     </set>
   	 where GENERATION_IDX = #{generationIdx}
    </update>		
    		
    		
    		
    		
    		
    		
    		
    		
     </mapper>
    		